
<div class='cards'>
    <% @cards.each do |card| %>
      <div class='card-show'>
        <p><%= card.content %></p>
        <%= link_to 'Edit', edit_card_path(card), style:"text-decoration:none" %> <!-- Assuming you have a corresponding edit action -->
        <%= link_to "Delete", card_path(card), method: :delete, data: { confirm: "Are you sure?" }, style:"text-decoration:none" %>
      </div>
      <% end  %>
</div>
