<%= render 'shared/navbar' %>

<div class="landing-page">
  <div class="landing-header">
    <h1>Have better conversations with Faros</h1>
    <%= link_to "Get started", new_user_registration_path, class: 'btn-started' %>
  </div>

  <div class="composition">
    <div class="composition__photo composition__photo--p1">
      <h2>What would you do with $1,000</h2>
    </div>

    <div class="composition__photo composition__photo--p2">
      <h2>What side of you am I yet to see?</h2>
    </div>

    <div class="composition__photo composition__photo--p3">
      <h2>What do you think I take for granted?</h2>
    </div>
  </div>
</div>

<div class="landing-info">
  <h1>Topics for every moment of life</h1>

  <div class="decks">
    <div class="deck">
      <h2>Exposed</h2>
    </div>

    <div class="deck">
      <h2>Break the ice</h2>
    </div>

    <div class="deck">
      <h2>Risky Business</h2>
    </div>

    <div class="deck">
      <h2>Let's Get Edgy</h2>
    </div>

    <div class="deck">
      <h2>Play it Safe</h2>
    </div>
  </div>

  <div class="about">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum deserunt dolores, molestias nesciunt quisquam dolorem nostrum architecto soluta impedit quod id labore harum non culpa dolorum cumque, eveniet necessitatibus rem?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur rem ducimus eum! Illo dolorum quasi magni id, sequi vel adipisci eligendi, labore quam libero et? Nostrum quam voluptate iusto debitis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere soluta quae laudantium vitae itaque iure praesentium dicta enim modi distinctio! Nobis corrupti, vero quasi sequi numquam corporis labore officiis? Et?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nulla perspiciatis expedita consequatur incidunt quod facere quis commodi, dolore nostrum quibusdam. Fugit, at exercitationem. Repellendus explicabo porro exercitationem id modi.
    </p>
  </div>
</div>


<div class="footer">
    <p>This is a footer</p>
</div>
