<%= render 'shared/navbar' %>

<div class="landing-page">
  <div class="landing-header">
    <h1>Have better conversations with Faros</h1>
    <%= link_to "Get started", new_user_registration_path, class: 'btn-started' %>
  </div>

  <div class="composition">
    <div class="composition__photo composition__photo--p1">
      <h2>What would you do with $1,000?</h2>
    </div>

    <div class="composition__photo composition__photo--p2">
      <h2>What side of you am I yet to see?</h2>
    </div>

    <div class="composition__photo composition__photo--p3">
      <h2>What do you think I take for granted?</h2>
    </div>
  </div>
</div>

<h1 style="text-align:center">Choose a Category</h1>
<div class="landing-info">
  <div class="decks">
    <div class="deck exposed">
      <h2>Exposed</h2>
    </div>

    <div class="deck break-the-ice">
      <h2>Break the ice</h2>
    </div>

    <div class="deck risky_business">
      <h2>Risky Business</h2>
    </div>

    <div class="deck edgy">
      <h2>Let's Get Edgy</h2>
    </div>

    <div class="deck play_safe">
      <h2>Play it Safe</h2>
    </div>

  </div>

</div>


<div class="footer">
    <p>This is a footer</p>
</div>
