

<div class="landing-page">
  <div class="landing-header">
    <h1>Have better conversations with Faros</h1>
    <%= link_to "Get started", new_user_registration_path, class: 'btn-started' %>
  </div>

  <div class="composition">
    <div class="composition__photo composition__photo--p1">
      <h2>What would you do with $1,000?</h2>
    </div>

    <div class="composition__photo composition__photo--p2">
      <h2>What side of you am I yet to see?</h2>
    </div>

    <div class="composition__photo composition__photo--p3">
      <h2>What do you think I take for granted?</h2>
    </div>
  </div>
</div>




<%# <div class="container">
    <div class="welcome">
        <h1>🌟 Hey there, Welcome to Faros! 🌟</h1>
    </div>
    <div class="content">
        <p>Get ready to spice up your chats with Faros cards! We're all about making conversations super fun and way more meaningful. Whether you're hanging out with old friends or meeting new people, our cards have got your back.</p>

        <h2>What's in it for you?</h2>
        <ul>
            <li><strong>Cool Topics:</strong> From quirky facts about you to deep, mind-bending questions – we've got a mix of everything.</li>
            <li><strong>Real Connections:</strong> Forget small talk. Our cards help you dive deeper and really get to know people.</li>
            <li><strong>For Everyone:</strong> Whether you're a talkative person or a bit shy, our cards are super easy and fun for all.</li>
        </ul>

        <p>Grab a card, start chatting, and watch the magic happen with Faros – your go-to for awesome conversations!</p>
    </div>
</div> %>

  <%# <div class="home-pic">
    <%= image_tag('friends') %>
  <%# </div> %>
